<div class="row">
  <div class="span5 offset1">
    <dl class="dl-horizontal">
      <dt>Name</dt>
      <dd>{{firstName}} {{lastName}}</dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Email</dt>
      <dd>{{email}}</dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Phone Number</dt>
      <dd>{{phone}}</dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>Birthday</dt>
      <dd>{{dateOfBirth}}</dd>
    </dl>
    <dl class="dl-horizontal">
      <dt>City</dt>
      <dd>{{city}}</dd>
    </dl>
  </div>
  <div class="span1 offset1">
    <a href="#edit" {{action start_edit}}>edit</a>
  </div>
</div>